:root {
    --background-color: #fff;
    --brush-color: #333;
    --opacity: 1;
}

/* Utilities */
.icon_highlight {
    color: orange;
}

.p1 {
    padding: 1rem 0rem;
}

.p2 {
    padding: 2rem 0rem;
}

.btn-main, .btn-dark, .btn-light {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    padding: 0rem 1rem;
}

i, input[type="color"], input[type="range"] {
    cursor: pointer;
}
    
    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: steelblue;
    color: white;
    
}

.container {
    max-width: 1281px;
    padding: 0rem 1.5rem;
    margin: auto;
    overflow: hidden;

}

/* Header */
header .container {
    text-align: center;
    padding: 2rem 1.5rem;
}

/* Master Grid */
#master_grid {
    display: grid;
    grid-template-columns: 200px 800px;    
    grid-template-areas: 
    'options colors colors'
    'options canvas canvas'
    'options canvas canvas';
    gap: 1rem;
    justify-content: center;
    margin: auto;
    height: 800px;
}

.div_1 {
    grid-area: options;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    background: teal;
    
}

.sideBarBtn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}
.div_1 ul {
    flex-direction: column;
}

.div_1 ul li {
    padding: 2rem 0;
}

.div_2 {
    grid-area: colors;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: teal;
}

.div_2 ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.opacity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.div_3 {
    grid-area: canvas;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_3 p {
    padding: 0 2rem;
}



#grid_container {
    max-width: 600px;
    max-height: 600px;
    display: grid;
}

.square {
    background: var(--background-color);
    border: 1px solid #333;  
    cursor: pointer;
    
}

#user_input {
    max-width: 50px;
    padding: 2px 5px;
    text-align: center;
    font-size: 16px;
}

#watch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}



#watch .timer {
    font-size: 1.2rem;
    text-align: center;
}

#watch ul li button {
    padding: 10px;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin-top: 10px;
    transition: color 1s;
    background: none;
}

#watch ul li button:hover {
    color: orange;
}

.off {
    display: none !important;
}

#footer {
    text-align: center;
    background: #333;
    color: #fff;
    margin-top: 3rem;
    padding: 1.5rem;
}
